<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" novalidate>
            {% csrf_token %}
    {% for field in form %}
        <div class="form-group" style="position: relative">
            <label for="">{{ field.label }}</label>
        {{ field }} <span class="error">{{ field.errors.0 }}</span>
            {% if field.is_pop %}
            <a onclick="pop()" href="" style="position: absolute;top: -5px"><span style="font-size: 25px">+</span></a>
            {% endif %}


        </div>

    {% endfor %}
            <button class="btn btn-info">提交</button>
    </form>

        </div>
    </div>
</div>

<script>
    function pop(url) {
        window.open(url,"","width=600,height=400,top=100,left=100")
    }
</script>